Repository dbpunk-labs/db3, pull requests merged in 2022-12, with the labels that each got.

#206 fix: install protobuf for the enviroment
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  src/cmd/Cargo.toml
  src/crypto/Cargo.toml
  src/db3js/src/pkg/db3_jsdk.d.ts
  src/db3js/src/pkg/db3_jsdk.js
  src/db3js/src/pkg/db3_jsdk_bg.js
  src/db3js/src/pkg/db3_jsdk_bg.wasm
  src/db3js/src/pkg/db3_jsdk_bg.wasm.d.ts
Labels: PR-size-medium

#208 Update cd.yml
  .github/workflows/cd.yml
Labels: size/xs

#207 feat: migrate the signature method to ed25519
  src/base/Cargo.toml
  src/base/src/get_address.rs
  src/base/src/lib.rs
  src/base/src/test_base.rs
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/crypto/Cargo.toml
  src/crypto/src/account_id.rs
  src/crypto/src/signer.rs
  src/crypto/src/verifier.rs
  src/db3js/package.json
  src/db3js/src/lib/db3.test.ts
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/keys.ts
  src/db3js/src/pkg/Db3_nodeServiceClientPb.ts
  src/db3js/src/pkg/db3_account_pb.js
  src/db3js/src/pkg/db3_base_pb.js
  src/db3js/src/pkg/db3_bill_pb.js
  src/db3js/src/pkg/db3_mutation_pb.d.ts
  src/db3js/src/pkg/db3_mutation_pb.js
  src/db3js/src/pkg/db3_node_pb.d.ts
  src/db3js/src/pkg/db3_node_pb.js
  src/db3js/yarn.lock
  src/node/src/abci_impl.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_mutation.proto
  src/proto/proto/db3_node.proto
  src/sdk/Cargo.toml
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/store_sdk.rs
  src/session/src/session_manager.rs
  tools/start_localnet.sh
Labels: size/xl, signature

#213 Feat/update readme2
  .gitignore
  README.md
  docs/images/db3-overview.svg
  docs/images/db3_arch.png
  docs/images/db3_arch.svg
  java/pom.xml
  java/src/main/java/network/db3/common/Utils.java
  java/src/main/java/network/db3/crypto/Ed25519Signer.java
  java/src/main/java/network/db3/protocol/document/DocIndex.java
  java/src/main/java/network/db3/protocol/document/DocKeyBuilder.java
  java/src/main/java/network/db3/protocol/document/DocStore.java
  java/src/main/java/network/db3/protocol/document/Key.java
  java/src/main/java/network/db3/sdk/mutation/MutationSDK.java
  java/src/test/java/network/db3/protocol/document/DocKeyBuilderTest.java
  java/src/test/java/network/db3/protocol/document/DocStoreTest.java
  java/src/test/java/network/db3/sdk/mutation/TestMutationSDK.java
Labels: documentation, PR-size-medium

#217 typescript sdk for the query session
  src/db3js/src/lib/db3.test.ts
  src/db3js/src/lib/db3.ts
Labels: PR-size-medium, D-query-session

#218 feat: add range query in storage engine
  src/db3js/src/pkg/Db3_nodeServiceClientPb.ts
  src/db3js/src/pkg/db3_account_pb.js
  src/db3js/src/pkg/db3_base_pb.js
  src/db3js/src/pkg/db3_bill_pb.js
  src/db3js/src/pkg/db3_mutation_pb.js
  src/db3js/src/pkg/db3_node_pb.d.ts
  src/db3js/src/pkg/db3_node_pb.js
  src/node/src/auth_storage.rs
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_node.proto
  src/sdk/src/store_sdk.rs
  src/session/src/session_manager.rs
  src/storage/src/kv_store.rs
Labels: D-kvstore, size/xl

#221 fix: auto release db3js
  .github/workflows/cd.yml
  src/db3js/package.json
Labels: PR-size-small

#230 fix: upgrade tendermint-rs to 0.27.0
  src/node/Cargo.toml
  src/node/src/hash_util.rs
  src/node/src/json_rpc_impl.rs
  src/node/src/storage_node_impl.rs
  src/sdk/Cargo.toml
Labels: PR-size-small

#229 developer friendly readme
  README.md
  docs/background.md
  docs/images/db3-architecture.svg
  docs/images/db3-overview.svg
  docs/images/db3_arch.svg
  examples/helloworld/README.md
  examples/helloworld/index.html
  examples/helloworld/package.json
  examples/helloworld/public/vite.svg
  examples/helloworld/src/App.css
  examples/helloworld/src/App.tsx
  examples/helloworld/src/assets/react.svg
  examples/helloworld/src/index.css
  examples/helloworld/src/main.tsx
  examples/helloworld/src/vite-env.d.ts
  examples/helloworld/tsconfig.json
  examples/helloworld/tsconfig.node.json
  src/db3js/src/lib/db3.test.ts
  src/db3js/src/lib/doc_store.ts
Labels: documentation, PR-size-large, discussion-required

#226 delete data by key
  src/db3js/src/lib/db3.test.ts
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/doc_store.ts
Labels: PR-size-medium

#235 Feat/test range
  examples/helloworld/vite.config.ts
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/doc_store.ts
  src/storage/src/kv_store.rs
Labels: PR-size-medium

#231 support submit query session transaction (WIP)
  .github/workflows/ci.yml
  java/src/main/java/network/db3/sdk/mutation/MutationSDK.java
  src/base/Cargo.toml
  src/base/src/lib.rs
  src/base/src/test_base.rs
  src/cmd/src/lib.rs
  src/error/src/lib.rs
  src/node/Cargo.toml
  src/node/src/abci_impl.rs
  src/node/src/auth_storage.rs
  src/node/src/json_rpc_impl.rs
  src/node/src/lib.rs
  src/node/src/main.rs
  src/node/src/node_key.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/build.rs
  src/proto/proto/db3_mutation.proto
  src/proto/proto/db3_node.proto
  src/proto/proto/db3_session.proto
  src/proto/src/lib.rs
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/store_sdk.rs
  src/session/Cargo.toml
  src/session/src/lib.rs
  src/session/src/query_session_verifier.rs
  src/session/src/session_manager.rs
  src/types/Cargo.toml
  src/types/src/cost.rs
  tools/start_localnet.sh
Labels: PR-size-large, D-query-session

#236 revert start tm and start node
  tools/start_localnet.sh
Labels: github_actions, size/xs

#247 fix: add no ts check
  src/db3js/package.json
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/doc_store.ts
  src/db3js/src/lib/keys.ts
Labels: size/xs

#248 Feat/ts sdk build error
  src/db3js/package.json
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/doc_store.ts
  src/db3js/src/lib/keys.ts
Labels: PR-size-small

#250 fix:proto is not defined
  src/db3js/src/pkg/db3_account_pb.js
  src/db3js/src/pkg/db3_base_pb.js
  src/db3js/src/pkg/db3_bill_pb.js
  src/db3js/src/pkg/db3_mutation_pb.js
  src/db3js/src/pkg/db3_namespace_pb.js
  src/db3js/src/pkg/db3_node_pb.js
  src/db3js/src/pkg/db3_session_pb.js
Labels: size/xl

#240 fix: open session replay attack
  src/db3js/src/lib/db3.ts
  src/db3js/src/pkg/db3_node_pb.d.ts
  src/db3js/src/pkg/db3_node_pb.js
  src/db3js/src/pkg/db3_session_pb.d.ts
  src/db3js/src/pkg/db3_session_pb.js
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_node.proto
  src/proto/proto/db3_session.proto
  src/sdk/Cargo.toml
  src/sdk/src/store_sdk.rs
  src/session/src/session_manager.rs
Labels: PR-size-medium

#251 fix: upgrade tendermint to 0.28.0
  src/node/Cargo.toml
  src/sdk/src/store_sdk.rs
  src/session/src/query_session_verifier.rs
Labels: PR-size-small

#257 add first sdk benchmark for batch get key queries and support start l…
  src/node/src/storage_node_impl.rs
  src/sdk/Cargo.toml
  src/sdk/benches/sdk_benchmark.rs
  tools/start_localnet.sh
Labels: PR-size-medium, benchmark
