Repository dbpunk-labs/db3, pull requests merged in 2022-09, with the labels that each got.

#78 feat: add req_id to pallet interface
  README.md
  frame/db/src/lib.rs
Labels: documentation, C-meta-node, PR-size-medium

#81 fix: update status code to non-zero when fail
  frame/db/src/lib.rs
Labels: C-meta-node, PR-size-small

#82 Fix/fix some status
  .github/workflows/ci.yml
  bin/cli/src/chain_spec.rs
  bin/cli/src/command.rs
  frame/db/src/benchmarking.rs
  frame/db/src/lib.rs
  frame/db/src/mock.rs
  frame/db/src/tests.rs
Labels: PR-size-large

#84 feat: unifiy the return data format
  frame/db/src/lib.rs
Labels: PR-size-medium

#87 Feat/add dbserver
  README.md
  docs/arch.svg
Labels: PR-size-small

#92 Feat/add dbserver
  README.md
  docs/account_model.md
  docs/arch.svg
  docs/architecture.md
  docs/images/arch.svg
  docs/images/permission.svg
Labels: PR-size-small
