Repository dbpunk-labs/db3, pull requests merged in 2022-11, with the labels that each got.

#122 feat: add account json rpc
  README.md
  src/base/Cargo.toml
  src/base/src/get_address.rs
  src/base/src/lib.rs
  src/base/src/strings.rs
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/node/src/abci_impl.rs
  src/node/src/auth_storage.rs
  src/node/src/json_rpc_impl.rs
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_node.proto
  src/sdk/Cargo.toml
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/store_sdk.rs
  src/storage/src/account_store.rs
  src/storage/src/bill_store.rs
Labels: documentation, PR-size-medium

#124 121 support restarting abci and recover root hash and height
  README.md
  tools/start_localnet.sh
Labels: documentation, PR-size-small

#129 feat: add ubuntu and mac cd
  .github/workflows/cd.yml
Labels: PR-size-small

#134 Feat/recover root hash
  README.md
  docs/images/db3_logo.png
Labels: documentation

#140 Feat/support https grpc
  src/node/Cargo.toml
  src/node/src/main.rs
  src/sdk/Cargo.toml
  src/sdk/src/mutation_sdk.rs
Labels: PR-size-small

#125 add query session sdk
  .gitignore
  src/cmd/src/lib.rs
  src/error/src/lib.rs
  src/node/Cargo.toml
  src/node/src/main.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_node.proto
  src/sdk/Cargo.toml
  src/sdk/src/lib.rs
  src/sdk/src/session_sdk.rs
  src/sdk/src/store_sdk.rs
Labels: PR-size-large, D-query-session

#143 add the details of technology implementaion
  CONTRIBUTING.md
  Cargo.toml
  README.md
  docs/architecture.md
  docs/bills.md
  docs/dvm.md
  docs/images/arch.svg
  docs/images/db3-access-control.svg
  docs/images/db3-architecture.svg
  docs/images/db3-deploy-contract.svg
  docs/images/db3-dvm.svg
  docs/images/db3-mutaion.svg
  docs/images/db3-offchain-indexing.svg
  docs/images/db3-onchain-indexing.svg
  docs/images/db3-overview.svg
  docs/images/db3-query-sharding.svg
  docs/images/db3-query.svg
  docs/images/db3-roadmap.svg
  docs/images/db3-sharding.svg
  docs/images/db3-table.svg
  docs/images/db3_bills.svg
  docs/images/db3_sdk.png
  docs/mutation.md
  docs/query.md
  install_env.sh
  src/jsdk/Cargo.toml
  src/jsdk/REAME.md
  src/jsdk/gen_proto.sh
  src/jsdk/src/lib.rs
  src/jsdk/tests/web.rs
  src/node/Cargo.toml
  src/node/src/main.rs
Labels: documentation, P1, PR-size-medium

#152 feat: stop the progress of db3 gracefully
  src/node/Cargo.toml
  src/node/src/abci_impl.rs
  src/node/src/main.rs
  src/node/src/node_config.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/store_sdk.rs
  src/session/src/session_manager.rs
  src/types/src/account_key.rs
  src/types/src/bill_key.rs
  tools/start_localnet.sh
Labels: PR-size-medium

#154 impl query session api and add node context
  src/cmd/src/lib.rs
  src/node/src/abci_impl.rs
  src/node/src/context.rs
  src/node/src/json_rpc_impl.rs
  src/node/src/lib.rs
  src/node/src/main.rs
  src/node/src/node_storage.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_node.proto
  src/sdk/Cargo.toml
  src/sdk/src/store_sdk.rs
  src/session/Cargo.toml
  src/session/src/session_manager.rs
Labels: PR-size-large, D-query-session

#159 feat: check the valid of mutation
  src/node/src/abci_impl.rs
  src/sdk/Cargo.toml
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/store_sdk.rs
  src/storage/src/kv_store.rs
Labels: PR-size-medium, bug

#164 fix: fix the key path bug
  src/base/src/strings.rs
  src/cmd/src/lib.rs
  src/types/src/cost.rs
  src/types/src/gas.rs
Labels: PR-size-small, cmd

#180 Feat/submit mutation
  .github/workflows/cd.yml
  README.md
  docs/images/db3_arch.png
  docs/mutation.md
  src/db3js/.gitignore
  src/db3js/index.html
  src/db3js/package.json
  src/db3js/src/App.tsx
  src/db3js/src/index.ts
  src/db3js/src/lib/db3.ts
  src/db3js/src/pkg/Db3_nodeServiceClientPb.ts
  src/db3js/src/pkg/db3_account_pb.d.ts
  src/db3js/src/pkg/db3_account_pb.js
  src/db3js/src/pkg/db3_base_pb.d.ts
  src/db3js/src/pkg/db3_base_pb.js
  src/db3js/src/pkg/db3_bill_pb.d.ts
  src/db3js/src/pkg/db3_bill_pb.js
  src/db3js/src/pkg/db3_jsdk.d.ts
  src/db3js/src/pkg/db3_jsdk.js
  src/db3js/src/pkg/db3_jsdk_bg.js
  src/db3js/src/pkg/db3_jsdk_bg.wasm
  src/db3js/src/pkg/db3_jsdk_bg.wasm.d.ts
  src/db3js/src/pkg/db3_mutation_pb.d.ts
  src/db3js/src/pkg/db3_mutation_pb.js
  src/db3js/src/pkg/db3_node_pb.d.ts
  src/db3js/src/pkg/db3_node_pb.js
  src/db3js/tsconfig.json
  src/db3js/tsup.config.js
  src/db3js/yarn.lock
  src/jsdk/gen_proto.sh
Labels: documentation, size/xl

#182 Update install_env.sh
  install_env.sh
Labels: db3up

#163 Feat/remove session cmd from cli
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/error/src/lib.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_node.proto
  src/sdk/src/store_sdk.rs
  src/session/src/session_manager.rs
Labels: PR-size-medium, D-query-session, wip

#186 fix: update readme and recover the coverage
  .github/workflows/ci.yml
  README.md
  src/cmd/src/lib.rs
Labels: documentation, PR-size-small

#189 update json_rpc.md
  docs/json_rpc.md
Labels: documentation

#187 feat: support session token
  src/cmd/src/lib.rs
  src/node/src/auth_storage.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_node.proto
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/store_sdk.rs
  src/session/Cargo.toml
  src/session/src/session_manager.rs
  src/storage/src/kv_store.rs
Labels: PR-size-medium, D-query-session

#199 Feat/submit mutation
  src/db3js/.npmignore
  src/db3js/package.json
  src/db3js/src/App.tsx
  src/db3js/src/index.ts
  src/db3js/src/lib/db3.test.ts
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/keys.ts
  src/db3js/src/pkg/Db3_nodeServiceClientPb.ts
  src/db3js/src/pkg/db3_account_pb.js
  src/db3js/src/pkg/db3_base_pb.js
  src/db3js/src/pkg/db3_bill_pb.js
  src/db3js/src/pkg/db3_mutation_pb.js
  src/db3js/src/pkg/db3_node_pb.d.ts
  src/db3js/src/pkg/db3_node_pb.js
  src/db3js/tsup.config.js
  src/db3js/yarn.lock
Labels: size/xl

#202 fix: fix compile error
  src/cmd/src/lib.rs
Labels: size/xs

#201 Feat/ut
  .github/workflows/ci.yml
  Cargo.toml
  src/db3js/babel.config.json
  src/db3js/jest.config.ts
  src/db3js/src/lib/db3.test.ts
  src/jsdk/Cargo.toml
  src/jsdk/REAME.md
  src/jsdk/gen_proto.sh
  src/jsdk/src/lib.rs
  src/jsdk/tests/web.rs
  src/node/Cargo.toml
  src/node/src/main.rs
  src/proto/Cargo.toml
  src/sdk/Cargo.toml
  src/storage/Cargo.toml
  tools/gen_proto_js.sh
  tools/start_localnet.sh
Labels: PR-size-medium
