Repository dbpunk-labs/db3, pull requests merged in 2023-05, with the labels that each got.

#428 Feat/console composite filter
  src/base/src/bson_util.rs
  src/cmd/src/command.rs
  src/node/src/command.rs
  src/proto/proto/db3_database.proto
  src/storage/src/db_store.rs
Labels: PR-size-large, cmd

#432 Feat/encode index field key with field type
  src/base/src/bson_util.rs
  src/crypto/Cargo.toml
  src/crypto/src/id.rs
  src/storage/src/db3_document.rs
  src/storage/src/db_store.rs
Labels: PR-size-large

#433 use storekey to encode/decode field key
  src/crypto/Cargo.toml
  src/crypto/src/id.rs
  src/crypto/src/lib.rs
  src/storage/src/db3_document.rs
Labels: PR-size-medium

#445 db3 indexer phase 1: add indexer subscribe db3 event message
  .gitignore
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/node/src/lib.rs
  src/sdk/src/store_sdk.rs
Labels: PR-size-medium

#448 Feat/standalone indexer fetch block
  src/error/src/lib.rs
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_node.proto
  src/sdk/Cargo.toml
  src/sdk/src/store_sdk.rs
Labels: PR-size-medium

#453 Feat/refactoring mutation util
  src/node/src/abci_impl.rs
  src/node/src/indexer_impl.rs
  src/node/src/lib.rs
  src/node/src/mutation_utils.rs
Labels: PR-size-medium, standalone-indexer

#451 Feat/apply database mutations
  .gitignore
  src/node/Cargo.toml
  src/node/src/abci_impl.rs
  src/node/src/auth_storage.rs
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/node/src/lib.rs
  src/node/src/mutation_utils.rs
Labels: PR-size-medium, standalone-indexer

#458 feat: add faucet state
  src/faucet/src/faucet_node_impl.rs
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/proto/proto/db3_faucet.proto
  src/sdk/src/store_sdk.rs
  src/storage/src/faucet_store.rs
Labels: PR-size-medium
