Repository dbpunk-labs/db3, pull requests merged in 2023-07, with the labels that each got.

#531 Feat/database data improvement
  CONTRIBUTING.md
  Cargo.toml
  README.md
  sdk/package.json
  sdk/src/client/client_v2.ts
  sdk/src/client/types.ts
  sdk/src/index.ts
  sdk/src/provider/storage_provider_v2.ts
  sdk/src/store/database_v2.ts
  sdk/src/store/document_v2.ts
  sdk/src/store/types.ts
  sdk/tests/client_v2.test.ts
  sdk/tests/query.test.ts
  src/node/src/indexer_impl.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_indexer.proto
  src/proto/proto/db3_storage.proto
  src/storage/Cargo.toml
  src/storage/src/db_store_v2.rs
  src/storage/src/doc_store.rs
  src/storage/src/state_store.rs
Labels: documentation, PR-size-large, S-kv

#534 Feat/database data improvement
  sdk/src/store/database_v2.ts
  sdk/tests/query.test.ts
Labels: size/xs

#535 Feat/database data improvement
  README.md
  sdk/tests/query.test.ts
Labels: documentation, PR-size-small

#533 add download arware and get last rollup tx in ar toolbox
  src/error/src/lib.rs
  src/node/src/ar_toolbox.rs
  src/node/src/rollup_executor.rs
  src/storage/src/ar_fs.rs
Labels: D-dvm-engine, PR-size-medium

#547 Fix/fix nonce not found
  java/README.md
  sdk/README.md
  sdk/src/client/client_v2.ts
  sdk/src/client/types.ts
Labels: PR-size-small

#549 Feat/recover id event jobs
  java/src/test/java/network/db3/provider/ClientTest.java
  sdk/package.json
  sdk/src/store/database_v2.ts
  sdk/tests/client_v2.test.ts
  src/event/src/event_processor.rs
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_mutation_v2.proto
  src/storage/src/db_doc_key_v2.rs
  src/storage/src/db_store_v2.rs
Labels: PR-size-medium

#541 Feat/add recover - part 1
  sdk/tests/client_v2.test.ts
  src/node/src/ar_toolbox.rs
  src/node/src/lib.rs
  src/node/src/recover.rs
  src/node/src/storage_node_light_impl.rs
  src/storage/src/db_store_v2.rs
  src/storage/src/meta_store_client.rs
Labels: PR-size-large

#564 improve the stability of test cases
  .github/workflows/ci.yml
  metadata/package.json
  src/error/src/lib.rs
  src/node/src/ar_toolbox.rs
  src/node/src/recover.rs
  src/node/src/storage_node_light_impl.rs
  src/storage/src/db_store_v2.rs
  src/storage/src/meta_store_client.rs
  src/storage/src/mutation_store.rs
  src/storage/src/state_store.rs
  tools/ar_miner.sh
  tools/keys/ar.secret
  tools/start_localnet.sh
Labels: github_actions
