Repository dbpunk-labs/db3, pull requests merged in 2023-06, with the labels that each got.

#462 fix port for indexer
  tools/start_localtestnet.sh
Labels: size/xs, standalone-indexer

#465 clean up indexer
  tools/start_localnet.sh
Labels: size/xs, standalone-indexer

#468 add db3 light version
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  Cargo.toml
  src/base/Cargo.toml
  src/bridge/Cargo.toml
  src/bridge/src/evm_chain_watcher.rs
  src/bridge/src/lib.rs
  src/bridge/src/storage_chain_minter.rs
  src/cmd/Cargo.toml
  src/cmd/src/command.rs
  src/cmd/src/deposit.rs
  src/cmd/src/lib.rs
  src/cmd/src/show_evm_account.rs
  src/crypto/Cargo.toml
  src/crypto/src/db3_address.rs
  src/crypto/src/db3_signer.rs
  src/crypto/src/db3_verifier.rs
  src/crypto/src/id.rs
  src/error/src/lib.rs
  src/faucet/Cargo.toml
  src/faucet/src/faucet_node_impl.rs
  src/faucet/src/fund_faucet.rs
  src/node/Cargo.toml
  src/node/src/command.rs
  src/node/src/json_rpc.rs
  src/node/src/json_rpc_impl.rs
  src/node/src/lib.rs
  src/node/src/mutation_utils.rs
  src/node/src/storage_node_impl.rs
  src/node/src/storage_node_light_impl.rs
  src/node/tests/command_test.rs
  src/node/tests/node_test.rs
  src/proto/Cargo.toml
  src/proto/build.rs
  src/proto/proto/db3_account.proto
  src/proto/proto/db3_account_v2.proto
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_faucet.proto
  src/proto/proto/db3_mutation_v2.proto
  src/proto/proto/db3_storage.proto
  src/proto/src/lib.rs
  src/sdk/Cargo.toml
  src/sdk/src/faucet_sdk.rs
  src/sdk/src/indexer_sdk.rs
  src/sdk/src/lib.rs
  src/session/Cargo.toml
  src/storage/Cargo.toml
  src/storage/src/event_key.rs
  src/storage/src/event_store.rs
  src/storage/src/faucet_key.rs
  src/storage/src/faucet_store.rs
  src/storage/src/lib.rs
  src/storage/src/mutation_store.rs
  src/storage/src/state_store.rs
  tools/start_localnet.sh
Labels: S-kv, size/xl

#476 Feat/apply mutation
  src/crypto/src/db3_address.rs
  src/crypto/src/id.rs
  src/crypto/src/id_v2.rs
  src/crypto/src/lib.rs
  src/error/src/lib.rs
  src/node/src/command.rs
  src/node/src/mutation_utils.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_mutation_v2.proto
  src/proto/proto/db3_storage.proto
  src/storage/src/collection_key.rs
  src/storage/src/db_owner_key_v2.rs
  src/storage/src/db_store_v2.rs
  src/storage/src/lib.rs
  src/storage/src/mutation_store.rs
  src/storage/src/state_store.rs
  tools/start_localnet.sh
Labels: PR-size-large

#478 support storage light subscribe
  src/node/src/command.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_storage.proto
  src/sdk/src/lib.rs
  src/sdk/src/store_sdk_v2.rs
  src/storage/src/mutation_store.rs
Labels: PR-size-medium

#479 feat: add garbage collection function
  Cargo.toml
  src/node/src/command.rs
  src/node/src/rollup_executor.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_rollup.proto
  src/proto/proto/db3_storage.proto
  src/sdk/src/store_sdk_v2.rs
  src/storage/Cargo.toml
  src/storage/src/ar_fs.rs
  src/storage/src/collection_key.rs
  src/storage/src/lib.rs
  src/storage/src/mutation_store.rs
Labels: PR-size-large, S-kv

#482 feat: add doc store
  Cargo.toml
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_mutation_v2.proto
  src/storage/Cargo.toml
  src/storage/src/db_store_v2.rs
  src/storage/src/doc_store.rs
  src/storage/src/lib.rs
Labels: PR-size-medium, S-kv

#483 support get block api in light storage
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_storage.proto
  src/sdk/src/store_sdk_v2.rs
Labels: PR-size-small

#487 support subscribe store mutation and apply mutation
  src/cmd/src/command.rs
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_indexer.proto
  src/sdk/src/indexer_sdk.rs
  src/storage/src/doc_store.rs
  src/storage/src/mutation_store.rs
Labels: PR-size-large

#485 Feat/query
  bridge/README.md
  bridge/scripts/deploy.ts
  bridge/test/db3_rollup_test.ts
  bridge/test/db3_token_test.ts
  bridge/yarn.lock
  format.sh
  metadata/.prettierrc.json
  metadata/contracts/DB3MetaStore.sol
  metadata/contracts/DB3Rollup.sol
  metadata/contracts/DB3Token.sol
  metadata/contracts/interfaces/IMetaStore.sol
  metadata/deploy_to_local.sh
  metadata/hardhat.config.ts
  metadata/package.json
  metadata/start_hardhat_node.sh
  metadata/start_localnet.sh
  metadata/tsconfig.json
  src/node/src/command.rs
  src/node/src/indexer_impl.rs
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_indexer.proto
  src/proto/proto/db3_mutation_v2.proto
  src/proto/proto/db3_storage.proto
  src/sdk/benches/submit_mutation_benchmark.rs
  src/sdk/src/store_sdk.rs
  src/sdk/src/store_sdk_v2.rs
  src/storage/src/db_store_v2.rs
  src/storage/src/doc_store.rs
Labels: size/xl

#488 Feat/query
  src/node/src/indexer_impl.rs
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_indexer.proto
  src/sdk/src/indexer_sdk.rs
  src/storage/src/db_store_v2.rs
  src/storage/src/doc_store.rs
  tools/start_localnet.sh
Labels: PR-size-medium

#490 Feat/fix indexer doc store initialize
  .gitignore
  src/storage/src/db_store_v2.rs
  src/storage/src/doc_store.rs
  tools/start_localnet.sh
Labels: PR-size-small

#493 feat/add ownership verify
  src/crypto/src/db3_address.rs
  src/error/src/lib.rs
  src/node/src/indexer_impl.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_database_v2.proto
  src/storage/src/db_doc_key_v2.rs
  src/storage/src/db_store.rs
  src/storage/src/db_store_v2.rs
  src/storage/src/doc_key_v2.rs
  src/storage/src/doc_store.rs
  src/storage/src/lib.rs
  src/storage/src/mutation_store.rs
Labels: PR-size-large

#498 create index for smart contract
  Cargo.toml
  src/event/Cargo.toml
  src/event/src/event_processor.rs
  src/event/src/lib.rs
  src/node/Cargo.toml
  src/node/src/indexer_impl.rs
  src/node/src/storage_node_light_impl.rs
  src/proto/proto/db3_base.proto
  src/proto/proto/db3_database_v2.proto
  src/proto/proto/db3_indexer.proto
  src/proto/proto/db3_mutation_v2.proto
  src/proto/proto/db3_storage.proto
  src/storage/src/db_store_v2.rs
Labels: PR-size-medium

#499 Feat/contract index
  src/event/src/event_processor.rs
  src/node/src/indexer_impl.rs
  src/storage/src/db_store_v2.rs
  tools/start_localnet.sh
Labels: PR-size-small

#500 clean doc id ownership entry when delete doc id
  .gitignore
  src/storage/src/db_store_v2.rs
Labels: PR-size-small

#502 update the sdk return obj
  .github/workflows/sdk_page.yml
  README.md
  sdk/src/client/base.ts
  sdk/src/provider/storage_provider_v2.ts
  sdk/src/store/document_v2.ts
  sdk/tests/client_v2.test.ts
Labels: documentation, PR-size-medium

#504 Update README.md
  README.md
Labels: documentation, size/xs

#503 Feat/docker
  docker/Dockerfile
  docker/start_localnet.sh
  docs/images/db3_arch.png
  sdk/src/crypto/ed25519_keypair.ts
  sdk/src/crypto/ed25519_publickey.ts
  sdk/src/crypto/id.ts
  sdk/src/crypto/keypair.ts
  sdk/src/crypto/secp256k1_keypair.ts
  sdk/src/crypto/secp256k1_publickey.ts
Labels: PR-size-large

#506 Feat/docker
  .github/workflows/pages.yml
  README.md
  docker/pages/.gitkeep
  sdk/README.md
Labels: documentation, PR-size-small

#508 Update README.md
  README.md
Labels: documentation

#511 add ut for ownership verify
  .gitignore
  sdk/src/store/document_v2.ts
  sdk/tests/client_v2.test.ts
Labels: PR-size-medium, sdk, test

#529 add toolbox for ar compress and uncompress
  .gitignore
  src/node/resources/test/37829_37968.gz.parquet
  src/node/src/ar_toolbox.rs
  src/node/src/lib.rs
  src/node/src/rollup_executor.rs
  tools/start_localnet.sh
Labels: PR-size-medium
