Repository dbpunk-labs/db3, pull requests merged in 2023-01, with the labels that each got.

#258 add benny benchmark framework into db3 and add demo test
  src/db3js/package.json
  src/db3js/src/benches/async_exp.ts
  src/db3js/src/benches/reduce.ts
  src/db3js/src/benches/sdk_query.ts
  src/db3js/src/lib/db3.ts
  src/db3js/yarn.lock
Labels: PR-size-medium, benchmark

#261 migrate the db3js to a standalone repo
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  README.md
  src/db3js/.gitignore
  src/db3js/.npmignore
  src/db3js/.prettierrc.json
  src/db3js/Makefile
  src/db3js/README.md
  src/db3js/babel.config.json
  src/db3js/index.html
  src/db3js/jest.config.ts
  src/db3js/package.json
  src/db3js/src/benches/async_exp.ts
  src/db3js/src/benches/reduce.ts
  src/db3js/src/benches/sdk_query.ts
  src/db3js/src/index.ts
  src/db3js/src/lib/db3.test.ts
  src/db3js/src/lib/db3.ts
  src/db3js/src/lib/doc_store.ts
  src/db3js/src/lib/keys.ts
  src/db3js/tsconfig.json
  src/db3js/tsup.config.js
  src/db3js/yarn.lock
Labels: documentation, size/xl

#264 PR for the API for creating a database
  examples/helloworld/README.md
  examples/helloworld/index.html
  examples/helloworld/package.json
  examples/helloworld/public/vite.svg
  examples/helloworld/src/App.css
  examples/helloworld/src/App.tsx
  examples/helloworld/src/assets/react.svg
  examples/helloworld/src/index.css
  examples/helloworld/src/main.tsx
  examples/helloworld/src/vite-env.d.ts
  examples/helloworld/tsconfig.json
  examples/helloworld/tsconfig.node.json
  examples/helloworld/vite.config.ts
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/error/src/lib.rs
  src/node/Cargo.toml
  src/node/src/abci_impl.rs
  src/node/src/auth_storage.rs
  src/node/src/node_key.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/build.rs
  src/proto/proto/db3_database.proto
  src/proto/proto/db3_mutation.proto
  src/proto/proto/db3_node.proto
  src/proto/src/lib.rs
  src/session/src/session_manager.rs
  src/storage/src/db_key.rs
  src/storage/src/db_store.rs
  src/storage/src/kv_store.rs
  src/storage/src/lib.rs
Labels: PR-size-medium, API

#267 Fix: typos
  README.md
Labels: documentation

#266 add rust sdk benchmark into workflow
  .github/workflows/ci.yml
Labels: D-kvstore, size/xs

#274 fix: update readme
  README.md
  docs/images/position_web3.jpg
Labels: documentation, size/xs

#277 update readme grammar
  README.md
Labels: documentation, PR-size-small

#280 fix: readme for developers
  README.md
  docs/images/why_db3.jpg
Labels: documentation, PR-size-small

#283 fix: add zh_cn
  README.md
  README_zh_cn.md
Labels: documentation, PR-size-medium

#284 Feat/new readme
  README.md
  README_zh_cn.md
  docs/images/position_web3.jpg
Labels: documentation, PR-size-small

#279 add submit mutation benchmark
  src/base/src/test_base.rs
  src/sdk/Cargo.toml
  src/sdk/benches/submit_mutation_benchmark.rs
Labels: PR-size-medium

#286 update readme: add filecoin logo
  README.md
Labels: documentation, PR-size-small

#287 update readme: add discord badge and link
  README.md
Labels: documentation, size/xs

#288 update readme_zh
  README_zh_cn.md
Labels: PR-size-small

#275 feat: add multi signature scheme
  Cargo.toml
  src/base/Cargo.toml
  src/base/src/test_base.rs
  src/crypto/Cargo.toml
  src/crypto/src/db3_address.rs
  src/crypto/src/db3_keypair.rs
  src/crypto/src/db3_public_key.rs
  src/crypto/src/db3_serde.rs
  src/crypto/src/db3_signature.rs
  src/crypto/src/db3_signer.rs
  src/crypto/src/key_derive.rs
  src/crypto/src/lib.rs
  src/crypto/src/signature_scheme.rs
  src/error/src/lib.rs
  src/node/tests/node_test.rs
  src/sdk/src/store_sdk.rs
Labels: size/xl, signature

#291 feat: remove session status from proto
  src/cmd/Cargo.toml
  src/cmd/src/lib.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_node.proto
  src/proto/proto/db3_session.proto
  src/sdk/Cargo.toml
  src/sdk/src/store_sdk.rs
  src/session/Cargo.toml
  src/session/src/lib.rs
  src/session/src/query_session_verifier.rs
  src/session/src/session_manager.rs
  src/types/src/cost.rs
Labels: PR-size-medium

#295 feat: add firestore protobuf
  src/proto/proto/README.md
  src/proto/proto/compile.sh
  src/proto/proto/firestore/bundle.proto
  src/proto/proto/firestore_bundle_proto.ts
  src/proto/proto/firestore_proto_api.ts
  src/proto/proto/google/api/annotations.proto
  src/proto/proto/google/api/client.proto
  src/proto/proto/google/api/field_behavior.proto
  src/proto/proto/google/api/http.proto
  src/proto/proto/google/firestore/v1/aggregation_result.proto
  src/proto/proto/google/firestore/v1/common.proto
  src/proto/proto/google/firestore/v1/document.proto
  src/proto/proto/google/firestore/v1/firestore.proto
  src/proto/proto/google/firestore/v1/query.proto
  src/proto/proto/google/firestore/v1/write.proto
  src/proto/proto/google/protobuf/any.proto
  src/proto/proto/google/protobuf/descriptor.proto
  src/proto/proto/google/protobuf/empty.proto
  src/proto/proto/google/protobuf/struct.proto
  src/proto/proto/google/protobuf/timestamp.proto
  src/proto/proto/google/protobuf/wrappers.proto
  src/proto/proto/google/rpc/status.proto
  src/proto/proto/google/type/latlng.proto
  src/proto/proto/protos.json
  src/proto/proto/update.sh
Labels: size/xl

#296 294 add firestore protobuf
  src/proto/proto/google/firestore/admin/v1/database.proto
  src/proto/proto/google/firestore/admin/v1/field.proto
  src/proto/proto/google/firestore/admin/v1/firestore_admin.proto
  src/proto/proto/google/firestore/admin/v1/firestore_admin_grpc_service_config.json
  src/proto/proto/google/firestore/admin/v1/firestore_gapic.yaml
  src/proto/proto/google/firestore/admin/v1/firestore_v1.yaml
  src/proto/proto/google/firestore/admin/v1/index.proto
  src/proto/proto/google/firestore/admin/v1/location.proto
  src/proto/proto/google/firestore/admin/v1/operation.proto
  src/proto/proto/google/firestore/admin/v1beta1/firestore_admin.proto
  src/proto/proto/google/firestore/admin/v1beta1/index.proto
  src/proto/proto/google/firestore/admin/v1beta1/location.proto
  src/proto/proto/google/firestore/admin/v1beta2/field.proto
  src/proto/proto/google/firestore/admin/v1beta2/firestore_admin.proto
  src/proto/proto/google/firestore/admin/v1beta2/index.proto
  src/proto/proto/google/firestore/admin/v1beta2/operation.proto
  src/proto/proto/update.sh
Labels: size/xl
