Repository dbpunk-labs/db3, pull requests merged in 2023-02, with the labels that each got.

#300 feat: update zh cn readme
  README.md
  README_zh_cn.md
Labels: documentation, PR-size-small

#293 update readme grammer and picture
  README.md
  README_zh_cn.md
  docs/images/db3_logo.png
  docs/images/db3_logo.svg
  docs/images/position_web3.jpg
  docs/images/position_web3.svg
  docs/images/why_db3.jpg
  docs/images/why_db3.svg
Labels: documentation

#301 readme: grammer and new line
  README.md
Labels: documentation, size/xs

#302 Add DB3Document and support add document operation and new-db
  src/base/Cargo.toml
  src/cmd/src/command.rs
  src/crypto/Cargo.toml
  src/crypto/src/db3_document.rs
  src/crypto/src/id.rs
  src/crypto/src/lib.rs
  src/error/src/lib.rs
  src/node/src/auth_storage.rs
  src/proto/proto/db3_database.proto
  src/proto/proto/db3_mutation.proto
  src/storage/src/db_store.rs
Labels: PR-size-large

#304 add typescript dbid case
  src/crypto/src/id.rs
Labels: PR-size-small

#306 feat: support list documents api and show-doc command cli
  src/base/Cargo.toml
  src/base/src/bson_util.rs
  src/base/src/lib.rs
  src/cmd/src/command.rs
  src/crypto/Cargo.toml
  src/crypto/src/id.rs
  src/crypto/src/lib.rs
  src/error/src/lib.rs
  src/node/src/auth_storage.rs
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_database.proto
  src/proto/proto/db3_node.proto
  src/sdk/src/store_sdk.rs
  src/storage/Cargo.toml
  src/storage/src/db3_document.rs
  src/storage/src/db_store.rs
  src/storage/src/lib.rs
Labels: PR-size-large, S-kv

#308 update readme doc link path
  README.md
Labels: documentation, size/xs

#311 support get-doc command cli and GetDocument API
  src/cmd/src/command.rs
  src/node/src/auth_storage.rs
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_database.proto
  src/proto/proto/db3_node.proto
  src/sdk/src/store_sdk.rs
  src/storage/src/db_store.rs
Labels: PR-size-medium

#313 add command test to increase the coverage
  src/cmd/src/command.rs
  src/cmd/src/console.rs
  src/cmd/src/keystore.rs
  src/node/src/command.rs
Labels: PR-size-medium

#314 Feat/delete doc
  src/cmd/src/command.rs
  src/crypto/src/id.rs
  src/error/src/lib.rs
  src/node/src/command.rs
  src/proto/proto/db3_mutation.proto
  src/storage/src/db_store.rs
Labels: PR-size-medium

#312 refactor the bill and gas system
  src/base/Cargo.toml
  src/cmd/src/command.rs
  src/cmd/src/keystore.rs
  src/crypto/src/db3_keypair.rs
  src/crypto/src/db3_signer.rs
  src/crypto/src/db3_verifier.rs
  src/crypto/src/id.rs
  src/node/src/abci_impl.rs
  src/node/src/auth_storage.rs
  src/node/src/command.rs
  src/node/src/json_rpc_impl.rs
  src/node/src/storage_node_impl.rs
  src/node/tests/node_test.rs
  src/proto/proto/db3_account.proto
  src/proto/proto/db3_base.proto
  src/proto/proto/db3_bill.proto
  src/proto/proto/db3_database.proto
  src/proto/proto/db3_mutation.proto
  src/proto/proto/db3_node.proto
  src/sdk/Cargo.toml
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/sdk_test.rs
  src/sdk/src/store_sdk.rs
  src/storage/src/account_store.rs
  src/storage/src/bill_store.rs
  src/storage/src/db3_document.rs
  src/storage/src/db_store.rs
  src/storage/src/kv_store.rs
  src/storage/src/lib.rs
  src/types/src/account_key.rs
  src/types/src/bill_key.rs
  src/types/src/cost.rs
  src/types/src/gas.rs
  tools/db3up
  tools/start_localnet.sh
Labels: size/xl

#316 bson into comparison bytes and support int comparison
  src/base/Cargo.toml
  src/base/src/bson_util.rs
  src/node/tests/command_test.rs
  src/sdk/Cargo.toml
  src/sdk/src/sdk_test.rs
  src/sdk/src/store_sdk.rs
  src/storage/src/db3_document.rs
Labels: PR-size-medium

#320 feat: simple run query
  src/base/src/bson_util.rs
  src/cmd/src/command.rs
  src/crypto/src/id.rs
  src/error/src/lib.rs
  src/node/src/auth_storage.rs
  src/node/src/command.rs
  src/node/src/storage_node_impl.rs
  src/proto/proto/db3_database.proto
  src/proto/proto/db3_node.proto
  src/sdk/src/mutation_sdk.rs
  src/sdk/src/sdk_test.rs
  src/sdk/src/store_sdk.rs
  src/storage/Cargo.toml
  src/storage/src/db3_document.rs
  src/storage/src/db_store.rs
Labels: S-kv, size/xl

#322 feat: add update doc method in db_store
  src/error/src/lib.rs
  src/node/src/command.rs
  src/proto/proto/db3_mutation.proto
  src/storage/src/db_store.rs
  src/types/src/cost.rs
Labels: PR-size-medium

#325 Feat/cmd update doc
  src/cmd/src/command.rs
  src/node/src/command.rs
Labels: PR-size-medium, cmd

#334 feat: add steps for updating document
  CONTRIBUTING.md
Labels: PR-size-small

#335 fix readme grammar ”a -> an“
  README.md
Labels: documentation, size/xs

#333 add update mask and cmd update-doc with mask
  src/base/src/bson_util.rs
  src/cmd/src/command.rs
  src/error/src/lib.rs
  src/node/src/command.rs
  src/proto/proto/db3_mutation.proto
  src/sdk/src/sdk_test.rs
  src/storage/src/db_store.rs
Labels: PR-size-medium

#344 add todomvc DEMO
  README.md
Labels: documentation, size/xs
